.inputBox{
    background-color: blueviolet;
    width: 500px;
    border-radius: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}
.inputBox input{
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
}
.inputBox button{
    background-color: rgb(55, 11, 97);
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}